@using LocalOfferts.Data
@using LocalOfferts.Service

@page "/editproduct/{id:int}"
@inject NavigationManager NavigationManager
@inject IProductService ProductService
@inject AuthenticationStateProvider AuthenticationStateProvider



<AuthorizeView Roles="Users">
    <Authorized>

        @if (product != null)
        {
            @if (context.User.Identity.Name == product.UserName)
            {
                <div>
                    <h2 class="text-black-50 text-center ">Edytuj Produkt</h2>
                    <br />
                </div>

                <div class="col-md-7" style="margin:0 auto;">
                    <div class="card">
                        <div class="card-body">

                            <form>

                                <div class="form-group">
                                    <label for="ProductName" class="control-label">Nazwa Produktu</label>
                                    <input for="ProductName" class="form-control" @bind="@product.ProductName" />
                                </div>
                                <div class="form-group">
                                    <label for="ProductPrice" class="control-label">Cena Produktu</label>
                                    <input type="number" step="0.01" for="ProductPrice" class="form-control" @bind="@product.ProductPrice" />
                                </div>
                                <div class="form-group">
                                    <label for="ProductDescription" class="control-label">Opis Produktu</label>
                                    <input for="ProductDescription" class="form-control" @bind="@product.ProductDescription" />
                                </div>
                                <div class="form-group">
                                    <label for="Name" class="control-label">Nazwa sklepu</label>
                                    <input for="Name" class="form-control" @bind="@product.ShopeName" />
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary" @onclick="@updateProduct" value="Update" />
                                        <input type="button" class="btn btn-warning" @onclick="@Cancel" value="Cancel" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h1>Produkt nie znajduje się na twojej liście!</h1>
            }
        }
        else
        {
            <h1>Produkt nie znajduje się na twojej liście!</h1>
        }
    </Authorized>
    <NotAuthorized>
        <h1> Nie masz uprawnień do przeglądania tej strony zaloguj się!</h1>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public int id { get; set; }
    Product product = new Product();

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.SingleProduct(id);
    }

    protected async Task updateProduct()
    {
        await ProductService.EditProduct(id, product);
        NavigationManager.NavigateTo("indexproduct");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("indexproduct");
    }

}
