@page "/indexproduct"

@using Microsoft.AspNetCore.Identity
@using LocalOfferts.Data
@using LocalOfferts.Service
@using Microsoft.AspNetCore.Http

@inject UserManager<IdentityUser> UserManager
@inject IProductService ProductService
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Users")]



<h2 class="text-black-50 text-center "> Twoje produkty  </h2>
<br />
<button class="btn btn-success" @onclick="@ADD">ADD NEW</button>
<br />
<br />

@if (products == null)
{
    <p>Loading..</p>

}
else
{
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Wyszukaj"
               @bind="Filter"
               @bind:event="oninput">
    </div>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover  shadow p-3 mb-5 bg-white rounded">
                <thead class="thead-dark shadow p-3 mb-5 bg-white rounded">
                    <tr>
                        <th>Numer</th>
                        <th>Nazwa</th>
                        <th>Typ</th>
                        <th>Cena</th>
                        <th>Data utworzenia</th>
                        <th>Edycja</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products)
                    {
                        if (!IsVisible(product))
                            continue;


                        @if (product.CreationDate >= DateTime.Now.AddDays(-14))
                        {
                            <tr>
                                <td>@product.ProductId</td>
                                <td>@product.ProductName</td>
                                <td>@product.ProductType</td>
                                <td>@product.ProductPrice</td>
                                <td>@product.CreationDate</td>
                                <td>
                                    <a href='/deleteproduct/@product.ProductId'>Usuń</a>
                                    <br />
                                    <a href='/editproduct/@product.ProductId'>Edytuj</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductType</td>
                    <td>@product.ProductPrice</td>
                    <td>Oferta Wygasła!</td>
                    <td>
                        <a href='/refreshproduct/@product.ProductId'>Odśwież</a>
                    </td>
                </tr>
                        }


                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {

    string currentUserName;
    private string currentValue;
    public string Filter { get; set; }
    IEnumerable<Product> products;
    IEnumerable<Product> product;


    protected override async Task OnInitializedAsync()
    {
        currentUserName = httpContextAccessor.HttpContext.User.Identity.Name;
        products = await ProductService.GetProductsByName(currentUserName);
        product = await ProductService.GetProductsFromTwoWeeks();


    }

    public bool IsVisible(Product product)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;


        if (product.ProductName.ToLower().ToString().StartsWith(Filter))
            return true;

        if (product.ProductId.ToString().StartsWith(Filter))
            return true;

        if (product.ProductType.ToString().StartsWith(Filter))
            return true;

        return false;
    }


    private void ADD()
    {
        NavigationManager.NavigateTo("addproduct");
    }

}
