@using LocalOfferts.Service
@using LocalOfferts.Data

@page "/admindeleteproduct/{id:int}"
@inject NavigationManager NavigationManager
@inject IProductService ProductService


<AuthorizeView Roles="Administrators">
    <Authorized>
        <h2>Potwierdź usunięcie</h2>
        <p>Czy jesteś pewien że chcesz usunąć dany produkt?</p>
        <br />

        
        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover  shadow p-3 mb-5 bg-white rounded">
                    <thead class="thead-dark shadow p-3 mb-5 bg-white rounded">
                        <tr>
                            <td>Lp</td>
                            <td>@product.ProductId</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>Nazwa</td>
                        <td>@product.ProductName</td>
                    </tr>
                    <tr>
                        <td>Cena</td>
                        <td>@product.ProductPrice</td>
                    </tr>
                    <tr>
                        <td>Opis</td>
                        <td>@product.ProductDescription</td>
                    </tr>
                </table>
                <div class="form-group">
                    <input type="button" value="Usuń" @onclick="@Delete" class="btn btn-primary" />
                    <input type="button" value="Anuluj" @onclick="@Cancel" class="btn" />
                </div>
            </div>
            </div>

</Authorized>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>Nie jesteś zalogowany.</p>
    </NotAuthorized>
    
</AuthorizeView>

@code {
    [Parameter]
    public int id { get; set; }
    Product product = new Product();

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.SingleProduct(id);
    }

    protected async Task Delete()
    {
        await ProductService.DeleteProduct(id);
        NavigationManager.NavigateTo("adminproductlist");

    }

    void Cancel()
    {
        NavigationManager.NavigateTo("adminproductlist");
    }

}
