@page "/"

@using LocalOfferts.Data
@using LocalOfferts.Service

@inject IProductService ProductService

<style>

   
</style>



<div class="search-box">
    <div class="box">
        <div class="col-md-auto">
            <div class="input-group-prepend">
                <select class="custom-select" style="width: 130px; border-radius: 10px;" name="City" @bind="City">
                    <option value="Wszystkie">Wszystkie</option>
                    <option value="Prabuty">Prabuty</option>
                    <option value="Kwidzyn">Kwidzyn</option>
                    <option value="Susz">Susz</option>
                </select>

                <input type="text" class="form-control"  style="border-radius: 10px;" placeholder="Wyszukaj..."
                       @bind="Filter"
                       @bind:event="oninput" />
            </div>
        </div>
    </div>
</div>

<br />
<hr />

    @if (products == null)
    {
        <p style="text-align:center;">Wczytuje Dane...</p>
    }
    else if ((City == null) || (City == "Wszystkie"))
    {
        <div class="container py-5 bg-faded">
            <div class="row">
                @foreach (var pro in products.OrderBy(products => products.CreationDate).Take(limit))
                {
                    if (!IsVisible(pro))
                        continue;
                    <div class="col-sm-3">
                        <div class="card">
                            @if (pro.Image is null)
                            {
                                <img class="img-fluid" src="/css/static/kot.jpg" alt="Card image cap">
                            }
                            else
                            {
                                <img class="img-fluid" src="@convertImageToDisplay(pro.Image)" />
                            }

                            <div class="card-body">
                                <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                                <hr />
                                <p style="text-align: left;"> @pro.ProductDescription</p>
                                <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                                <hr />
                                <p style="text-align: left;">Oferta aktualna w sklepie @pro.ShopeName</p>
                            </div>
                            <div class="card-footer">
                                <p style="text-align: center;">@pro.City     @pro.CreationDate</p>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>

            @if (products.Count() > limit)
            {
                <div class="row justify-content-center">

                    <button class="btn btn-success" @onclick="AddCards">Pokaż więcej</button>

                </div>
            }
        </div>

    }
    else if (City == "Prabuty")
    {

        <div class="container py-5 bg-faded">
            <div class="row">
                @foreach (var pro in products.Where(products => products.City == City).OrderBy(products => products.CreationDate).Take(limit))
                {
                    if (!IsVisible(pro))
                        continue;
                    <div class="col-sm-3">
                        <div class="card">
                            @if (pro.Image is null)
                            {
                                <img class="img-fluid" src="/css/static/kot.jpg" alt="Card image cap">
                            }
                            else
                            {
                                <img class="img-fluid" src="@convertImageToDisplay(pro.Image)" />
                            }

                            <div class="card-body">
                                <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                                <hr />
                                <p style="text-align: left;"> @pro.ProductDescription</p>
                                <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                                <hr />
                                <p style="text-align: left;">Oferta aktualna w sklepie @pro.ShopeName</p>
                            </div>
                            <div class="card-footer">
                                <p style="text-align: center;">@pro.City     @pro.CreationDate</p>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>

            @if (products.Count() > limit)
            {
                <div class="row justify-content-center">

                    <button class="btn btn-success" @onclick="AddCards">Pokaż więcej</button>

                </div>
            }
        </div>

    }
    else if (City == "Susz")
    {

        <div class="container py-5 bg-faded">
            <div class="row">
                @foreach (var pro in products.Where(products => products.City == City).OrderBy(products => products.CreationDate).Take(limit))
                {
                    if (!IsVisible(pro))
                        continue;
                    <div class="col-sm-3">
                        <div class="card">
                            @if (pro.Image is null)
                            {
                                <img class="img-fluid" src="/css/static/kot.jpg" alt="Card image cap">
                            }
                            else
                            {
                                <img class="img-fluid" src="@convertImageToDisplay(pro.Image)" />
                            }

                            <div class="card-body">
                                <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                                <hr />
                                <p style="text-align: left;"> @pro.ProductDescription</p>
                                <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                                <hr />
                                <p style="text-align: left;">Oferta aktualna w sklepie @pro.ShopeName</p>
                            </div>
                            <div class="card-footer">
                                <p style="text-align: center;">@pro.City     @pro.CreationDate</p>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>

            @if (products.Count() > limit)
            {
                <div class="row justify-content-center">

                    <button class="btn btn-success" @onclick="AddCards">Pokaż więcej</button>

                </div>
            }
        </div>

    }
    else if (City == "Kwidzyn")
    {

        <div class="container py-5 bg-faded">
            <div class="row">
                @foreach (var pro in products.Where(products => products.City == City).OrderBy(products => products.CreationDate).Take(limit))
                {
                    if (!IsVisible(pro))
                        continue;
                    <div class="col-sm-3">
                        <div class="card">
                            @if (pro.Image is null)
                            {
                                <img class="img-fluid" src="/css/static/kot.jpg" alt="Card image cap">
                            }
                            else
                            {
                                <img class="img-fluid" src="@convertImageToDisplay(pro.Image)" />
                            }

                            <div class="card-body">
                                <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                                <hr />
                                <p style="text-align: left;"> @pro.ProductDescription</p>
                                <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                                <hr />
                                <p style="text-align: left;">Oferta aktualna w sklepie @pro.ShopeName</p>
                            </div>
                            <div class="card-footer">
                                <p style="text-align: center;">@pro.City     @pro.CreationDate</p>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>

            @if (products.Count() > limit)
            {
                <div class="row justify-content-center">

                    <button class="btn btn-success" @onclick="AddCards">Pokaż więcej</button>

                </div>
            }
        </div>

    }



@code
{
    IEnumerable<Product> products;


    public string Filter { get; set; }
    public string City { get; set; }
    public int limit = 8;


    protected override async Task OnInitializedAsync()
    {

        products = await ProductService.GetProductsFromTwoWeeks();


    }

    void AddCards()
    {
        limit = limit + 8;
    }

    public bool IsVisible(Product product)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;


        if (product.ProductName.ToLowerInvariant().ToString().StartsWith(Filter.ToLower()))
            return true;


        return false;
    }


    string convertImageToDisplay(byte[] image)
    {
        if (image != null)
        {


            var base64 = Convert.ToBase64String(image);
            var fs = string.Format("data:image/jpg;base64,{0}", base64);

            return fs;
        }
        return "";
    }


}

