@page "/"

@using LocalOfferts.Data
@using LocalOfferts.Service

@inject IProductService ProductService

<style>
    .card {
        box-shadow: 0 0 1em grey;
        padding: 4px 3px;
        border-radius: 15px/5px;
    }
</style>

<div class="container">
    <div class="col-md-auto">
        <div class="input-group-prepend">
            <select class="custom-select" style="width: 130px;" name="City" @bind="City">
                <option value="all">all</option>
                <option value="Prabuty">Prabuty</option>
                <option value="Kwidzyn">Kwidzyn</option>
                <option value="Susz">Susz</option>
            </select>

            <input type="text" class="form-control" placeholder="Wyszukaj..."
                   @bind="Filter"
                   @bind:event="oninput" />
        </div>
    </div>
</div>
<hr />

@if ((City == null) || (City == "all"))
{
    @if (products == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="container">

            <div class="card-columns">
                @foreach (var pro in products)
                {
                    if (!IsVisible(pro))
                        continue;

                    <div class="card">
                        @if (pro.Image is null)
                        {
                            <img class="card-img-top" src="/css/static/kot.jpg" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top " src="@convertImageToDisplay(pro.Image)" />
                        }

                    <div class="card-body">
                        <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                        <hr />
                        <p style="text-align: left;"> @pro.ProductDescription</p>
                        <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                    </div>
                        <div class="card-footer">
                            <p style="text-align: center;">@pro.City     @pro.CreationDate</p>
                        </div>
                    </div>
                    <br />

                }

            </div>
        </div>
    }
}
else if (City == "Prabuty")
{
    @if (productsByPrabuty == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="container">

            <div class="card-columns">
                @foreach (var pro in productsByPrabuty)
                {
                    if (!IsVisible(pro))
                        continue;

                    <div class="card">
                        @if (pro.Image is null)
                        {
                            <img class="card-img-top" src="/css/static/kot.jpg" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top " src="@convertImageToDisplay(pro.Image)" />
                        }

                        <div class="card-body">
                            <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                            <hr />
                            <p style="text-align: left;"> @pro.ProductDescription</p>
                            <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                        </div>
                        <div class="card-footer">
                            <p style="text-align: center;">@pro.City     @pro.CreationDate</p>
                        </div>
                    </div>
                    <br />
                }

            </div>
        </div>
    }

}
else if (City == "Kwidzyn")
{
    @if (productsByKwidzyn == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="container">

            <div class="card-columns">
                @foreach (var pro in productsByKwidzyn)
                {
                    if (!IsVisible(pro))
                        continue;

                    <div class="card">
                        @if (pro.Image is null)
                        {
                            <img class="card-img-top" src="/css/static/kot.jpg" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top " src="@convertImageToDisplay(pro.Image)" />
                        }

                        <div class="card-body">
                            <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                            <hr />
                            <p style="text-align: left;"> @pro.ProductDescription</p>
                            <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                        </div>
                        <div class="card-footer">
                            <p style="text-align: center;">@pro.City     @pro.CreationDate</p>
                        </div>
                    </div>
                    <br />

                }

            </div>
        </div>
    }

}
else if (City == "Susz")
{
    @if (productsBySusz == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="container">

            <div class="card-columns">
                @foreach (var pro in productsBySusz)
                {
                    if (!IsVisible(pro))
                        continue;

                    <div class="card">
                        @if (pro.Image is null)
                        {
                            <img class="card-img-top" src="/css/static/kot.jpg" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top " src="@convertImageToDisplay(pro.Image)" />
                        }


                        <div class="card-body">
                            <h4 style="text-align: center; font-family: 'American Typewriter, serif'">@pro.ProductName</h4>
                            <hr />
                            <p style="text-align: left;"> @pro.ProductDescription</p>
                            <p style="text-align: left;">Cena: @pro.ProductPrice zł</p>
                        </div>
                        <div class="card-footer">
                            <p style="text-align: center;">@pro.City     @pro.CreationDate .</p>
                        </div>
                    </div>
                    <br />

                }

            </div>
        </div>
    }

}



@code
{
    IEnumerable<Product> products;
    IEnumerable<Product> productsByPrabuty;
    IEnumerable<Product> productsByKwidzyn;
    IEnumerable<Product> productsBySusz;

    public string Filter { get; set; }
    public string City { get; set; }

    protected override async Task OnInitializedAsync()
    {

        products = await ProductService.GetProducts();
        productsByPrabuty = await ProductService.GetProductsByCity("Prabuty");
        productsByKwidzyn = await ProductService.GetProductsByCity("Kwidzyn");
        productsBySusz = await ProductService.GetProductsByCity("Susz");


    }


    public bool IsVisible(Product product)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;


        if (product.ProductName.ToLower().ToString().StartsWith(Filter))
            return true;

        return false;
    }

    string convertImageToDisplay(byte[] image)
    {
        if (image != null)
        {
            var base64 = Convert.ToBase64String(image);
            var fs = string.Format("data:image/jpg;base64,{0}", base64);
            return fs;
        }
        return "";
    }



}

