@using LocalOfferts.Data
@using LocalOfferts.Service


@page "/Registration"
@inject NavigationManager NavigationManager
@inject IRegistrationService RegistrationService

    <p class="font-weight-normal"></p>

    
    <h2 style="text-align: center">Wypełnij i wyślij formularz aby zarejestrować się</h2>
   

    <div class="col-md-7" style="margin:0 auto;">
        <div class="card">
            <div class="card-body">
                <EditForm Model="@registration" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />

                    <div class="form-group ">
                        <label class="col-form-label" for="Name">Imie</label>

                        <InputText class="form-control" id="Name" @bind-Value="registration.Name"></InputText>
                        <ValidationMessage For="@(()=> registration.Name)"></ValidationMessage>


                    </div>
                    <div class="form-group ">
                        <label class="col-form-label" for="Email">Email</label>

                        <InputText class="form-control" id="Email" @bind-Value="registration.Email"></InputText>
                        <ValidationMessage For="@(()=> registration.Email)"></ValidationMessage>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="ShopName">Nazwa sklepu</label>

                        <InputText class="form-control" id="ShopName" @bind-Value="registration.ShopName"></InputText>
                        <ValidationMessage For="@(()=> registration.ShopName)"></ValidationMessage>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="PhoneNumber">Numer telefonu</label>

                        <InputText class="form-control" id="PhoneNumber" @bind-Value="registration.PhoneNumber"></InputText>
                        <ValidationMessage For="@(()=> registration.PhoneNumber)"></ValidationMessage>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="City">Miasto</label>

                        <InputText class="form-control" id="City" @bind-Value="registration.City"></InputText>
                        <ValidationMessage For="@(()=> registration.City)"></ValidationMessage>

                    </div>

                    <button class="btn btn-success" type="submit">Wyślij</button>
                </EditForm>
            </div>
        </div>
    </div>








    @code {

        private LocalOfferts.Data.Registration registration = new Data.Registration();

        async Task HandleValidSubmit()
        {
            await RegistrationService.CreateRegistration(registration);
            NavigationManager.NavigateTo("/");
        }
    }
